body{
	background-image:url("scratched-582602_960_720.jpg");
	background-size: cover;
	width:100vw;
}
#nav{
	width:100vw;
	height:10vw;
	//*border:1px solid black;*//
	position:fixed;
	margin-top:0vw;

	
}

#dropdown{

	position:fixed;
	width:100vw;
	height:100vh;
	background-color:grey;
	display:none;
	border:1px solid grey;
	opacity:0.9;
	z-index:11;
	margin-top:-0.5vw;
	margin-left:-0.5vw;
	overflow-y: scroll;
}

#drop{
	width:10vw;
	height:10vw;
	margin-left:85vw;
	margin-top:0vw;
	position:fixed;
	z-index:10;
	cursor:pointer;
}
#hidedrop{
	width:10vw;
	height:10vw;
	margin-left:85vw;
	margin-top:0vw;
	position:fixed;
	cursor:pointer;
}
#h1{
	font-size:600%;
	margin-top:-10vw;
	margin-left:5vw;
	font-family:'Megrim', cursive;
	text-align:;

}
#IS{
	font-size:300%;
	margin-top:5vw;
	margin-left:;
	text-align:center;
	font-family: 'Megrim', cursive;
	position:;
}
#II{
	font-size:300%;
	margin-top:0vw;
	margin-left:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}
#pot{
	width:45vw;
	height:45vw;`
	margin-top:0vw;
	margin-left:27vw;

	position:;
}
#IIdiv{
	width:50vw;
	height:35vw;
	margin-top:10vw;
	margin-left:5vw;
	position:absolute;
}
#IIp{
	margin-top:-5vw;
	font-size:200%;
	margin-left:;
	text-align:center;
	background-color:white;
	opacity:0.5;
}
#AM{
	font-size:300%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}
#AMI{
	font-size:200%;
	text-align:center;
}
#dropdowninfo{
	font-size:300%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
	cursor:pointer;
}
#footer{
	font-size:100%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}
#hand{
	width:15vw;
	height:15vw;
	margin-left:42vw;
	border-radius:100%;
	
}
#MI{
	font-size:300%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
	position:;
}
#empty{
	text-align:center;
	font-size:20px;
}
#WW{
	font-size:300%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}
#WWI{
	font-size:200%;
	text-align:center;
	background-color:white;
	opacity:0.5;
	
}
#C{
	font-size:300%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}
#CI{
	font-size:200%;
	text-align:center;	
}
#twitter{
	width:11vw;
	height:8vw;
	margin-top:2vw;
	margin-left:2vw;
	position:fixed;
	cursor:pointer;
	
}
#Facebook{
	width:8vw;
	height:8vw;
	margin-top:2vw;
	margin-left:20vw;
	position:absolute;
}
#instagram{
	width:8vw;
	height:8vw;
	margin-top:2vw;
	margin-left:35vw;
	position:absolute;

}






































