#divone{
	margin-left:3vw;
	width:90vw;
	height:60vw;
	border:1px solid black;
}

#imgone{
	width:90vw;
	height:60vw;
	position:absolute;
}

#hone{	
	margin-top:0vw;
	margin-left:16vw;
	z-index:10;
	font-size:5vw;
	position:absolute;
}

#butt{
	margin-top:18vw;
	margin-left:30vw;
	border:3px solid black;
	border-radius:10%;
	position:absolute;
	z-index:10;
	font-size:3vw;
	text-decoration:none;
	color:black;
	background-color:white;
}

#aone{
	text-decoration:none;	
}
