body{
	background-image:url("IMG_20200620_123316.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width:100vw;
	margin-top:;
	margin-left:0vw;
	margin-right:0vw;
}

#nav{
	margin-top:-1vw;
	margin-left:0vw;
	margin-right:0vw;
	width:100vw;
	height:10vw;
	//*border:1px solid black;*//
	position:fixed;	
}



#dropdown{

	position:fixed;
	width:100vw;
	height:100vh;
	background-color:grey;
	display:none;
	border:1px solid grey;
	opacity:0.9;
	z-index:11;
	margin-top:-0.5vw;
	margin-left:-0.5vw;
	overflow-y: scroll;
}

#whatsapp_pin{
	
	margin-top:13vw;
	margin-left:86.5vw;
	width:10vw;
	height:10vw;
	position:fixed;
	z-index:10;
	cursor:pointer;
	
}

#drop{
	width:10vw;
	height:10vw;
	margin-left:85vw;
	margin-top:0vw;
	position:fixed;
	z-index:10;
	cursor:pointer;
}

#hidedrop{
	width:10vw;
	height:10vw;
	margin-left:85vw;
	margin-top:0vw;
	position:fixed;
	cursor:pointer;
	display:none;
}

#head{
	font-size:300%;
	margin-top:-10vw;
	margin-left:0vw;
	font-family:'Megrim', cursive;
	text-align:center;

}

#IS{
	font-size:300%;
	margin-top:5vw;
	margin-left:;
	text-align:center;
	font-family: 'Megrim', cursive;
	position:;
}

#comstick{
	margin-top:5vw;
	margin-left:20vw;
	width:20vw;
	height:20vw;
	border-radius:100%;
	position:absolute;
	z-index:10;
}

#sticker{
	margin-top:30vw;
	margin-left:-12vw;
	width:12vw;
	height:12vw;
	border-radius:100%;
	position:absolute;
	z-index:10;
}

#vid{
	width:60vw;
	height:60vw;
	margin-top:-10vw;
	margin-left:19vw;
}

#II{
	font-size:300%;
	margin-top:0vw;
	margin-left:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}

#pot{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:block;
	position:;
}

#hexpick{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	position:;
}

#roundpick{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	position:;
}

#recpick{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	position:;
}

#PollyPick{
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	width:45vw;
	height:47vw;`
	position:;
}

#potdiv{
	margin-top:15vh;
	Display:block;
	position:;
}

#hexdiv{
	margin-top:15vh;
	Display:none;
	position:;
}

#roundiv{
	margin-top:15vh;
	Display:none;
	position:;
}

#recdiv{
	margin-top:15vh;
	Display:none;
	position:;
}

#Pollydiv{
	margin-top:15vh;
	Display:none;
	position:;
}

#hexmouldpick{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	position:;
}

#hexmouldiv{
	margin-top:15vh;
	Display:none;
	position:;
}

#recmouldpick{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	position:;
}

#recmouldiv{
	margin-top:15vh;
	Display:none;
	position:;
}

#PollyMouldpick{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	position:;
}

#PollyMouldiv{
	margin-top:15vh;
	Display:none;
	position:;
}


#next{
	font-size:600%;
	margin-top:-30vw;
	margin-left:75vw;
	text-align:center;
	opacity:0.5;
	position:absolute;
}

#back{
	font-size:600%;
	margin-top:-30vw;
	margin-left:18vw;
	text-align:center;
	opacity:0.5;
	position:absolute;
}

#IIdiv{
	width:50vw;
	height:35vw;
	margin-top:10vw;
	margin-left:5vw;
	position:absolute;
}
#IIp{
	margin-top:-5vw;
	font-size:150%;
	margin-left:;
	text-align:center;
	background-color:white;
	opacity:0.5;
}

#AM{
	font-size:300%;
	margin-top:60vw;
	text-align:center;
	font-family: 'Megrim', cursive;
	
}

#AMI{
	font-size:150%;
	text-align:center;
	background-color:white;
	opacity:0.5;
}

#dropdowninfo{
	font-size:200%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
	cursor:pointer;
}

#footer{
	font-size:100%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}

#hand{
	width:15vw;
	height:15vw;
	margin-left:42vw;
	border-radius:100%;
	
}

#CCI{
	margin-top:-10vw;
	position:absolute;
	width:99vw;
}

#MI{
	font-size:300%;
	margin-top:0vw;
	margin-left:0vw;
	font-family:'Megrim', cursive;
	text-align:center;
	
}

#potMI{
	margin-top:8vw;
	margin-left:2vw;
	width:20vw;
	height:25vw;`
	position:absolute;
}

#hexMI{
	margin-top:8vw;
	margin-left:4vw;
	width:20vw;
	height:25vw;`
	position:absolute;
}

#roundMI{
	margin-top:8vw;
	margin-left:28vw;
	width:20vw;
	height:25vw;
	position:absolute;
}

#recMI{
	margin-top:8vw;
	margin-left:4vw;
	width:20vw;
	height:25vw;
	position:absolute;
}

#PollyMI{
	margin-top:38vw;
	margin-left:-45vw;
	width:20vw;
	height:25vw;
	position:absolute;
}

#Printed{
	margin-top:-8vw;
	width:99vw;
	position:absolute;
}

#printP{
	font-size:300%;
	margin-top:65vw;
	margin-left:0vw;
	font-family:'Megrim', cursive;
	text-align:center;
}

#HowToMould{
	font-size:300%;
	margin-top:65vw;
	margin-left:0vw;
	font-family:'Megrim', cursive;
	text-align:center;
}

#youtube{
	margin-top:0vw;
	margin-left:2vw;
	border:1px solid black;
	border-radius:10%;
	width:45vw;
	height:45vw;
	background-color:white;
	opacity:0.5;
	position:absolute;
	text-decoration:none;
}

#Downloadpdf{
	margin-top:0vw;
	margin-left:50vw;
	border:1px solid black;
	border-radius:10%;
	width:45vw;
	height:45vw;
	background-color:white;
	opacity:0.5;
	position:absolute;
	text-decoration:none;
}

#Download_pdf{
	text-align:center;
	font-size:5vw;
}

#Download_pdf_img{
	margin-top:-1.5vw;
	margin-left:12.5vw;
	width:20vw;
	height:20vw;
	position:absolute;
}

#Watchyou{
	text-align:center;
	font-size:5vw;
}

#youimg{
	margin-top:0;
	margin-left:7vw;
	width:30vw;
	height:10vw;
}

#VidHowToo{
	margin-top:-20vw;
	margin-left:0.5vw;
	width:95vw;
	height:95vw;
	position:absolute;
}

#pdfDownloadone{
	margin-top:0vw;
	margin-left:0vw;
	width:15vw;
	height:15vw;
	border-radius:100%;
	position:;
	cursor:pointer;
	z-index:10;
}

#hexmould{
	margin-top:5vw;
	margin-left:2vw;
	width:20vw;
	height:25vw;`
	position:absolute;
}

#roundmouldpick{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	position:;
}

#roundmould{
	margin-top:5vw;
	margin-left:4vw;
	width:20vw;
	height:25vw;`
	position:absolute;
}

#recmould{
	margin-top:5vw;
	margin-left:4vw;
	width:20vw;
	height:25vw;
	position:absolute;
}

#pollymould{
	margin-top:35vw;
	margin-left:-69.5vw;
	width:20vw;
	height:25vw;
	position:absolute;
}

#roundmouldiv{
	margin-top:15vh;
	Display:none;
	position:;
}

#roundmouldtwo{
	margin-top:5vw;
	margin-left:4vw;
	width:20vw;
	height:25vw;`
	position:absolute;
}

#roundmoultwodpick{
	width:45vw;
	height:47vw;`
	margin-top:0vw;
	margin-left:27vw;
	Display:none;
	position:;
}

#roundmoultwodiv{
	margin-top:15vh;
	Display:none;
	position:;
}

#aboutdiv{
	margin-top:0vw;
}

#empty{
	text-align:center;
	font-size:20px;
}

#WW{
	font-size:300%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}

#WWI{
	font-size:150%;
	width:100vw;
	text-align:center;
	background-color:white;
	opacity:0.5;
	
}

#wherewen{

}

#C{
	font-size:300%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}

#CI{
	margin-top:-5vh;
	font-size:150%;
	text-align:center;	
}

#CIone{
	font-size:150%;
	text-align:center;
	background-color:white;
	opacity:0.5;
}

#comgalp{
	font-size:300%;
	margin-top:0vw;
	text-align:center;
	font-family: 'Megrim', cursive;
}

#comgaldiv{
	margin-top:;
	margin-left:vw;
}

#twitter{
	width:11vw;
	height:8vw;
	margin-top:2vw;
	margin-left:2vw;
	position:fixed;
	cursor:pointer;
	
}

#facebook{
	width:10vw;
	height:8vw;
	margin-top:2vw;
	margin-left:15vw;
	position:fixed;
	cursor:pointer;
}

#Mpick1{
	width:35vw;
	height:40vw;`
	margin-top:0vw;
	margin-left:33vw;

}

#Mpick2{
	width:35vw;
	height:30vw;`
	margin-top:0vw;
	margin-left:32vw;
}

#Mpick3{
	width:35vw;
	height:40vw;`
	margin-top:0vw;
	margin-left:32vw;
}

#twitter2{
	width:11vw;
	height:8vw;
	margin-top:vw;
	margin-left:3vw;
	position:;
	cursor:pointer;
}

#facebook2{
	width:10vw;
	height:8vw;
	margin-top:vw;
	margin-left:3vw;
	position:;
	cursor:pointer;
}

#weselltoys{
	width:8vw;
	height:8vw;
	border-radius:100%;
	margin-top:vw;
	margin-left:3vw;
	position:;
	cursor:pointer;
}

#yocologo{
	width:8vw;
	height:8vw;
	border-radius:100%;
	margin-top:vw;
	margin-left:3vw;
	position:;
	cursor:pointer;
}

#lunologo{
	width:8vw;
	height:8vw;
	border-radius:100%;
	margin-top:vw;
	margin-left:3vw;
	position:;
	cursor:pointer;
}

#youlogo{
	width:16vw;
	height:8vw;
	border-radius:50%;
	margin-top:vw;
	margin-left:3vw;
	position:;
	cursor:pointer;
}

#pdfDownload{
	width:8vw;
	height:8vw;
	border-radius:100%;
	margin-top:vw;
	margin-left:3vw;
	position:;
	cursor:pointer;
}

#buypot{
	font-size:10vw;
	margin-left:40vw;
	color:white;
	background-color:#a81818;
	border-radius:10%;
}

#yoco{
	width:40vw;
	height:50vw;
}

#luno{
	margin-top:-47vw;
}

#yocop{
	margin-top:0vw;
	font-size:130%;
	margin-left:1vw;
	text-align:;
	background-color:;
	opacity:0.8;
}
#yocopic{
	margin-top:3vw;
	margin-left:1vw;
	width:35vw;
	height:20vw;`
	Display:;
	position:;
}
#lunop{
	margin-top:0vw;
	font-size:130%;
	margin-left:58vw;
	text-align:;
	background-color:;
	opacity:0.8;
}

#lunopic{
	width:35vw;
	height:20vw;`
	margin-top:0vw;
	margin-left:58vw;
	Display:;
	position:;
}

/*Carousel*/

#comcar{
	
}

#Carousel{
	/*border:1px solid #607d8b;*/
	width:68.2vw;
	height:35vw;
	margin-top:0;
	margin-left:15vw;
	display:block;
	transition: 1s ease;
	z-index:;
}

#exit{
	height:3vw;
	width:3vw;
	margin-left:64vw;
	/*border:1px solid black;*/
	cursor:pointer;
	border-radius:100%;
	position:absolute;
	z-index:4;
}

#x1{
	width:0.5vw;
	height:2.5vw;
	margin-left:1.6vw;
	margin-top:-0.1vw;
	background-color:black;
	transform:rotate(45deg);
	position:absolute;
	z-index:4;
}

#x2{
	width:0.5vw;
	height:2.5vw;
	margin-left:1.6vw;
	background-color:black;
	transform:rotate(-45deg);
	position:absolute;
	z-index:4;
}


#html{
	border:1px solid black;
	width:16vw;
	height:12vw;
	position:absolute;
	transition: 1s ease;
	margin-top:10vw;
	margin-left:0vw;
	z-index:1;
	
}

#css{
	border:1px solid black;
	width:26vw;
	height:18vw;
	position:absolute;
	transition: 1s ease;
	margin-top:7vw;
	margin-left:3vw;
	z-index:2;
}

#javascript{
	border:1px solid black;
	width:48vw;
	height:33vw;
	position:absolute;
	transition: 1s ease;
	margin-top:0vw;
	margin-left:10vw;
	z-index:3;

}

#jquery{
	border:1px solid black;
	width:26vw;
	height:18vw;
	position:absolute;
	transition: 1s ease;
	margin-top:7vw;
	margin-left:39vw;
	z-index:2;
}

#php{
	border:1px solid black;
	width:16vw;
	height:12vw;
	position:absolute;
	transition: 1s ease;
	margin-top:10vw;
	margin-left:52vw;
	z-index:1;
}

#sql{
	border:1px solid black;
	width:16vw;
	height:12vw;
	position:absolute;
	transition: 1s ease;
	margin-top:10vw;
	margin-left:52vw;
	z-index:0;
}

#controle{
	width:35vw;
	height:4vw;
	margin-top:29vw;
	margin-left:18vw;
	position:absolute;
	/*background-color:#607d8b;*/
	border-radius:20%;
	z-index:3;
}

#left{
	font-size:300%;
	position:absolute;
	margin-left:4vw;
	margin-top:-1.2vw;
	cursor:pointer;
	display:block;

}

#right{
	font-size:300%;
	position:absolute;
	margin-left:26vw;
	margin-top:-1.2vw;
	cursor:pointer;
	display:block;	
}
#leftGrey{
	font-size:300%;
	color:grey;
	position:absolute;
	margin-left:4vw;
	margin-top:-1.2vw;
	cursor:pointer;
	display:none;
}

#rightGrey{
	font-size:300%;
	color:grey;
	position:absolute;
	margin-left:26vw;
	margin-top:-1.2vw;
	cursor:pointer;
	display:none;
}
